.container_nav {
  width: 1350px;
  margin: 0px auto;
  justify-content: space-between;
}
.navLogo {
  height: 80px;
}
a.nav-item {
  text-align: end;
  /* padding:16px;  */
}
.navbar-nav {
  padding: 16px;
}
.navbar-nav a:active {
  background: #6eb7b0;
  color: white;
}
.navbar {
  display: flex;
  justify-content: center;
  z-index: 200;
}
.navSize {
  display: flex;
  justify-content: center;
}

.container_nav {
  width: 80% !important;
  margin: 0 auto !important;
}
.logoutbuton {
  padding: 0;
  margin: 0;
  width: 120px;
  height: 50px;
  float: right;
  background-color: #eee;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #bbb;
  margin-left: 40%;
}
.logoutbuton:hover {
  -webkit-animation: ButtonScale 0.5s ease-out;
  animation: ButtonScale 0.5s ease-out;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(158, 223, 217, 0.527);
}
@keyframes ButtonScale {
  0% {
    height: 50px;
    line-height: 50px;
  }
  75% {
    height: 60px;
    line-height: 60px;
  }
  85% {
    height: 50px;
    line-height: 50px;
  }
  92% {
    height: 56px;
    line-height: 56px;
  }
  100% {
    height: 50px;
    line-height: 50px;
  }
}
.loginname {
  font-weight: 600;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
  padding: 0.5rem 1rem;
}
