/* main */
body {
  font-family: 'Noto Sans TC', sans-serif !important;
}
/* .r_container */
.mainImg {
  width: 1535px;
  height: 870px;
  overflow: hidden;
}
.importantImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: 0.5s;
}
.mainImg:hover .importantImg {
  filter: brightness(1);
  transform: scale(1.1);
}
.mainContent {
  width: 385px;
  top: 85px;
  left: 35px;
  /* text-align: end; */
  color: #fff;
}
.t36 {
  font-size: 36px;
  margin-bottom: 35px;
}
.t60 {
  font-size: 60px;
}
.mainLogo {
  top: 85px;
  right: 35px;
  height: 250px;
}
.address {
  color: #fff;
  font-size: 60px;
  right: 45px;
  top: 360px;
  writing-mode: vertical-rl;
}
.mainLogo img {
  height: 100%;
  object-fit: contain;
}
.contentArea {
  flex-grow: 1;
  flex-flow: column;
  max-width: 368px;
}
.textArea {
  height: 695px;
}
.shopName {
  font-size: 36px;
}
.rent {
  font-size: 95px;
}
.rent span {
  font-size: 16px;
}
.twoPlace,
.toHome,
.carIntro {
  font-size: 20px;
}
.pModel {
  font-size: 36px;
}
.text1 {
  font-size: 12px;

  line-height: 28px;
}
.buttonArea {
  flex-grow: 1;
}
.buttonArea div {
  /* max-width: 150px; */
}
.rentButton {
  border-radius: 5px;
  background-color: #6eb7b0;
  color: #fff;
  border: none;
}
.disButton {
  border-radius: 5px;
  background-color: #6eb7b0;
  color: #fff;
}
.collectButton,
.toShopButton {
  border-radius: 5px;
  border: solid 1px #434948;
}
.s_tittle {
  height: 80px;
  width: 1850px;
  margin: 0 auto;
}
.recommend {
  width: 1850px;
  height: 225px;
  margin: 0 auto;
}
