.productList-wrap {
  background-image: url(http://localhost:3000/images/bg-01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* height: 200vh; */
}

@media (min-width: 1200px) {
  .productList-container {
    max-width: 1480px;
    margin: 0 auto;
    /* height: 40px; */
  }
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.mg0 {
  margin: 0 auto;
}

/* navbar */

.productList-nav {
  height: 48px;
  background: #434948;
}

/* search_bar */

.productList-search_bar {
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background: lightblue; */
}
.search_bar {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  text-align: center;
}

/* main_product */

.productList-main_product {
  height: 1100px;
  /* background: lightcoral; */
}
.productList-main_logo {
  height: 650px;
  width: 900px;
  /* background: #434948; */
  left: 0;
}
.productList-main_img {
  height: 750px;
  width: 1560px;
  /* background: #fff; */
  right: 0;
  bottom: 80px;
  text-align: center;
}
.hot-main-price {
  right: 0;
  bottom: 100px;
}
.button_insert {
  border-radius: 20px;
  color: #fff;
  background-color: #6eb7b0;
}
.button_type {
  color: #434948;
  /* background-color: #6eb7b0; */
}
.productList-main_tittle {
  top: 150px;
  width: 100%;
}

/* hot_list */

.productList-hot_list {
  /* height: 350px; */
  /* background-color: lightgreen; */
}

.hotList .list {
  height: 280px;
  background: #434948;
}

.item {
  width: 450px;
  height: 185px;
}
.itemimg {
  width: 270px;
  height: 145px;
}
.massage {
  text-align: right;
}

/* list */

.productList-list {
  margin-top: 200px;
  /* height: 1135px; */
  /* background: lightblue; */
}

.list_search_button {
  width: 200px;
  border-left: 3px solid #434948;
  border-right: 3px solid #434948;
}
.card_img {
  height: 160px;
}
.card-img-logo {
  top: 5%;
  left: 0;
  width: 100px;
}
.card-img-top {
  height: 100%;
  object-fit: cover;
}

/* page_bar */

.productList-page_bar {
  margin-top: 100px;
  height: 30px;
  /* background: lightgoldenrodyellow; */
}

/* footer */

.productList-footer {
  margin-top: 70px;
  height: 185px;
  background: #434948;
}
