.title
{
    margin:  0 auto;
    text-align: center;
}
.title .top
{
    font-size: 24pt;
    color: #fff;
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 80px;
}
.title .bottom
{
    font-size: 24pt;
    color: #fff;
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 30px;
}