.LoginDriverBox
{
    position: absolute;
    height: 100%;width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
}
.LoginDriverPage
{
    height: 600px;
    width: 500px;
    background: #fff;
    border-radius: 10%;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 350px);
    padding: 60px;
    z-index: 99;
    
}
.LoginDriverTextboxTop
{
    font-size: 24pt;
    font-family: "微軟正黑體";
    text-align: left;  
    font-weight: 700;
    color: #2d2d2d;
}
.LoginDriverTextbox
{
    margin-top: 30px;
}
.LoginDriverTextboxBottom
{
    font-size: 12pt;
    font-family: "微軟正黑體";
    
    font-weight: 700;
    color: #2d2d2d;
}
.LoginDriverPageIcon
{
    text-align: center;
    background-color: #6EB7B0;
    border-radius: 50%;
    width: 80px;height: 80px;
}
.LoginDriverPageIconImg
{
    margin-top: 15px;
    width: 60px;
}
.LoginDriverPageTop
{
    display: flex;
    width: 100%;
    justify-content:space-around;

}
.LoginDriverPageBottom{
    text-align: center;
    margin-top:20px;
    
    
}
.LoginDriverPageBottomInput
{
    border: none;
    border-bottom:#2d2d2d 2px solid; 
    width: 100%;
    height: 40px;
    font-size: 12pt;
    color: #2d2d2d;
    margin-top: 10px;
    transition: .3s;
    font-family: "微軟正黑體";
    
}
.LoginDriverPageBottomInputText
{
    font-size: 20pt;
    font-family: "微軟正黑體";
    font-weight: 700;
    color: #2d2d2d;
    margin-top: 30px;
    text-align: left;
    line-height: 27px;
    
    padding-left:10px ;
}
.LoginDriverPageBottomInputBox{
    margin: 0 auto;
    width: 350px;
}
.LoginDriverPageBottomInput:focus{
    text-indent: 12px;
    font-size: 16pt;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.3), 0 1px 1px rgba(255,255,255,0.2);
}
.LoginDriverPageButton{
    display: inline;
    width: 180px;
    height: 60px;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    border: 1px solid rgb(121, 197, 190);
    background-color: #6EB7B0;
    margin-top: 50px;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
    transition: .5s;
    border-radius: 5px;
    font-size: 24pt;
    text-align: center;
    font-family: "微軟正黑體";
    color: #fff;
    cursor: pointer;
}
.LoginDriverPageButton:hover{
    background-color: rgb(91, 160, 153);
    border: 1px solid rgb(143, 229, 221);
    box-shadow: inset 0 0 4px rgba(63, 55, 55, 0.75);
    font-size: 26pt;
}
.LoginDriverPageButtonNo:hover{
    display: inline;
    background-color: rgb(138, 69, 69);
    border: 1px solid rgb(252, 101, 101);
    box-shadow: inset 0 0 4px rgba(63, 55, 55, 0.75);
    font-size: 26pt;
}
.LoginDriverPageButtonNo{
    height: 60px;
    width: 180px;
    margin-left: 10px;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    border: 1px solid rgb(212, 94, 94);
    background-color: rgb(204, 112, 112);
    margin-top: 20px;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
    transition: .5s;
    border-radius: 5px;
    font-size: 24pt;
    text-align: center;
    font-family: "微軟正黑體";
    color: #fff;
    cursor: pointer;
}
.LoginDriverPageBottomInputLine{
    border-left: #6EB7B0 2px solid;
    height: 25px;
        
    float: left;
}

.LoginDriverPageRegistered
{
    font-size: 16pt;
    font-family: "微軟正黑體";
    text-align: center;
    margin:10px auto;   
    font-weight: 600;
    color: blue;  
    border: #6EB7B0 1px solid;
    cursor: pointer;
    width: 100px;
    transition: .5s;
}
.LoginDriverPageRegistered:hover{
    transform: scale(1.1);

}
.LoginDriverPageback{
    width: 100%;
    height: 100vh;
    background-image: url(../../Indexpage/images/bg-01.jpg);
    background-size: cover;
}