.RegisteredBox
{
    
    position: absolute;
    height: 100%;width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
   
}
.RegisteredPage
{   
    
    display: flex;
    height: 700px;
    width: 1500px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    left: calc(50% - 780px);
    top: calc(50% - 380px);
    padding-top: 40px;
    z-index: 99;
    animation:RegisteredPage .5s ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@keyframes RegisteredPage
{
0%{
    height: 600px;
    width: 500px;
    left: calc(50% - 400px);
    top: calc(50% - 350px);
}
100%{
    height: 700px;
    width: 1500px;
    left: calc(50% - 780px);
    top: calc(50% - 380px);
}
}
.RegisteredPageInput
{
    border: none;
    border-bottom:#6EB7B0 2px solid; 
    width: 300px;
    height: 40px;
    font-size: 12pt;
    color: #2d2d2d;
    margin-top: 5px;
    transition: .3s;
    font-family: "微軟正黑體";
    transition: .8s;
    background-color: transparent;
    
}
.RegisteredPageInputText
{
    font-size: 20pt;
    font-family: "微軟正黑體";
    font-weight: 700;
    color: #2d2d2d;
    
    text-align: left;
    line-height: 27px;
    padding-left:10px ;

}
.RegisteredPageInputBox{
    margin: 0 auto;
    width: 350px;
}
.RegisteredPageInput:focus{
    text-indent: 12px;
    font-size: 16pt;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.3), 0 1px 1px rgba(255,255,255,0.2);
}
.RegisteredPageInputLine{
    border-left: #6EB7B0 2px solid;
    height: 25px;
        
    float: left;
}

.RegisteredPageRight{
    flex-grow: 1;
    width: 400px;
    padding: 20px;
    /* background-image: url("./images/rebaground.gif"); */
    background-position:right -30px;
    height: 100%;
}
.RegisteredPageMiddle{
    flex-grow: 1;
    width: 400px;
    padding: 20px;
    /* background-image: url("./images/rebaground.gif"); */
    background-position:center -22px;
    height: 100%;
}
.RegisteredPageLeft{
    flex-grow: 1;
    width: 400px;
    padding: 20px;
    height: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-image: url("./images/rebaground.gif"); */
    background-position:left;
}
.RegisteredPageRightText{
  justify-items: end;
  justify-self: end;
  align-items: flex-end;
  align-self: flex-end;

}
.RegisteredPageLeftMyImgBox
{
    width: 285px;
    height: 350px;
    box-shadow: #aaa 3px 3px 3px ;
    background-color: #eee;
    align-self:center;
    display:flex;
    overflow:hidden;
}
.RegisteredPageLeftText{
    font-size: 36pt;
    font-family: Arial, Helvetica, sans-serif,"微軟正黑體";
    font-weight: 700;
}
.RegisteredPageLeftTextEnglish{
    font-size: 16pt;
    font-weight: 300;
}
.RegisteredPageInputRadio
{
    height: 30px;
    width: 30px;
    margin-top: 10px; 
    margin-right: 5px
}
.RegisteredPageInputRadioBox{
    display: flex;
    justify-content: space-around;

}
.RegisteredPageInputButton{
    width: 300px;
    height: 60px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #2d2d2d;
    font-family: "微軟正黑體";
    color: #fff;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: .5s
}
.form-text{
    display: block;
    color: red;
    font-family: Arial, Helvetica, sans-serif,"微軟正黑體";
    font-weight: 600;
    transition: .8s;
    opacity: 0;
    height: 15px;
}
.RegisteredPagebackground
{
    position: absolute;
}
.RegisteredPagebackground2
{
    position: absolute;
}
.RegisteredPageInputButtonNo{
    width: 300px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(204, 112, 112);
    font-family: "微軟正黑體";
    color: #fff;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
}
.RegisteredPageInputButton:hover{
    display: inline;
    background-color: #2d2d2d;    border: 1px solid rgb(0, 0, 0);
    box-shadow: inset 0 0 4px rgba(63, 55, 55, 0.75);
    font-size: 18pt;
}
.RegisteredPageInputButtonNo:hover{
    display: inline;
    background-color: rgb(138, 69, 69);
    border: 1px solid rgb(252, 101, 101);
    box-shadow: inset 0 0 4px rgba(63, 55, 55, 0.75);
    font-size: 18pt;
}

.LoginDriverPageback{
    width: 100%;
    height: 100vh;
    background-image: url(../../../Indexpage/images/bg-01.jpg);
    background-size: cover;
}
.RegisteredPageLeftMyImgBoximg{
    object-fit: cover;
}
.RegisteredPageInputTextbox{
    margin-top: 10px;
}