.st01{fill:none;stroke:#fff;stroke-width:14;stroke-miterlimit:10;}
.st1{fill:#fff;stroke:#fff;stroke-width:5;stroke-miterlimit:10;}
.st21{fill:none;stroke:#fff;stroke-width:14;stroke-miterlimit:10;}
path{
    stroke:#fff;
    fill:#fff;
    stroke-dasharray: 800;
          
    opacity: 10;
    animation:animate 1.2s cubic-bezier(.85,.27,.83,.67)    ;
}
polyline{
    stroke:#fff;

    stroke-dasharray: 1800;
          
    opacity: 10;
    animation:animate1 1.2s cubic-bezier(.85,.27,.83,.67)    ;
}
line{
    stroke:#fff;

stroke-dasharray: 300;
     
opacity: 10;
animation:animate2 1.2s cubic-bezier(.85,.27,.83,.67)    ;
}
svg{
    width: 100%;
    height: auto;
    margin: 0 auto;

}
@keyframes animate
{
    0%{
        opacity: 0;
        fill:none;
        stroke-dashoffset: 800;        
        }
    80%{
        opacity: 10;
       
        stroke-dashoffset: 0;  
        fill: transparent;
        
  }
    100%{
        /* opacity: 10; */
        fill:#fff;
        stroke:#fff;
       
    }


}
@keyframes animate1
{
    0%{
        opacity: 0;
        fill:none;
        stroke-dashoffset: 1800;        
        }
    90%{
        opacity: 10;
       
        stroke-dashoffset: 0;  
        
         
  }
    100%{
        /* opacity: 10; */
        
        stroke:#fff;
       
    }


}
@keyframes animate2
{
    0%{
        opacity: 0;
        fill:none;
        stroke-dashoffset: 300;        
        }
    90%{
        opacity: 10;
       
        stroke-dashoffset: 0;  
        
         
  }
    100%{
        /* opacity: 10; */
        
        stroke:#fff;
       
    }


}
.svglogo
{          
    width: 700px;
    margin:0 auto; 
    left: calc(50% - 400px);
    padding-left:60px;
    margin-top: 80px;
}